<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jk Techn: Projects</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/heroic-features.css" %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Jk Technologies Projects</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url "app1:home"%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <h4 class="display-3">Our sample Projects</h4>
      <p class="lead">Our project domain : CSE , IT , MECHANICAL , ELECTRONICS , ELECTRICAL , ROBOTICS , PCB DESIGN , MECHATRONICS , AUTO MOBILE , SCHOOL PROJECT</p>

    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/wUo4-D4AyaN1A5wkNqTyHS0-ntXjVEsH9JKAQrrfU1SSgd7FMb9X49S-6IUOEkw2gy1-302K=w600-h0" alt="">
          <div class="card-body">
            <h4 class="card-title">Wireless hand</h4>

          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/nm_NWmPKWdTngmgXiq953zLQM-rklYvDBp4svVAj-erojPb3R7ozqYpRNjsIDz85wfk2m9Z3=w600-h0" alt="">
          <div class="card-body">
            <h4 class="card-title">EB Line testing robot</h4>

          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/-X1HFgSqrL-k/Wfipbh4EwMI/AAAAAAAAADA/Rqq_itBX4iQVpnqg-w-u0W8SOEWVy3cpwCLQBGAYYCw/w600-h0/photo.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Electrinic wheel chair</h4>

          </div>
          <div class="card-footer">
         </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/_mAcfDz9ZdUDBxhQ0i4RGsJIbLIEs4_PGx6ttLxdoGBQH1uiEtZlDk8WuQ5WBtYZf18F7uH-GcXc_Htv=w960-h960-n-o-v1" alt="">
          <div class="card-body">
            <h4 class="card-title">Mechanical project</h4>

          </div>
          <div class="card-footer">
         </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/PdbVV5ZXTOkMD5wIsqMjchkni6_kepQn0XEA2mmmxksthbYo9L1FE_zAlqY95VHV5xFJl2i8RhGRbUNQ=w960-h960-n-o-v1" alt="">
          <div class="card-body">
            <h4 class="card-title">Mechanical project</h4>

          </div>
          <div class="card-footer">
         </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/WVXUQuSwXba61wS3brZNmzWmrrWxCPtp6rDYcGhJuLioPBcTNNWLVnxTbwCLEYov_9MOtjrbI-Z9I-QO=w960-h960-n-o-v1" alt="">
          <div class="card-body">
            <h4 class="card-title">Air pressure chicking system</h4>

          </div>
          <div class="card-footer">
         </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/-uOR-qQqjv80/WfwZexj8KwI/AAAAAAAAAEk/wzCIEuUYdqwtzxoW-ZUp9ecEdpa95tEhwCLQBGAYYCw/s1280-p-no-v1/photo.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Earhquake alert system</h4>

          </div>
          <div class="card-footer">
         </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/UWMBFdpdVz_aBhRFLUa_6z3u1YHq1PFDBdqEFbz4S6L9JO7vB1VQ0n-yXcZdCY5e1omj15_I52atS81k=w960-h960-n-o-v1" alt="">
          <div class="card-body">
            <h4 class="card-title">Smart house model</h4>

          </div>
          <div class="card-footer">
         </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jk Tech</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>
